body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;

}

.seccion-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.texto-nav
{
    color: red;
}

.img-incio {

    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/Cabaña1.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.fondo-opaco {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 1;
}

.contenido-inicio {

    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.titulo-principal {
    font-size: 60px;
    color: white;
}


.boton {

    background-color: rgba(163, 147, 191, 0.6);
    border: 2px solid white;
    border-radius: 25px;
    font-size: 18px;
    padding: 14px 32px;

    transition: 0.3s;
}

.boton:hover {
    background-color: rgba(163, 147, 191, 0.6);
    color: white;
    transform: scale(1.08);
}




/* seccion donde */

#donde {
    height: 100%;
    background-color: #2AD170;
    padding: 80px;
    text-align: center;

}

.subtitulo {
    font-weight: bold;
    color: rgb(243, 243, 243);
    line-height: 1.8;
    letter-spacing: 0.5px;

}

.texto-donde {
    font-size: 1.1rem;
    font-weight: 600;

    line-height: 1.8;
    letter-spacing: 0.5px;

    color: black;
}

.carousel-altura {
    height: 500px;
}



/* cabañas */

#cabania {
    padding: 40px;
    background-color: beige;
    text-align: center;
}

.card-text {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.card {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    background-color: #2AD170;
    transform: translateY(10px);
}

.titulo-cabaña
{
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px black;
    }


    span{
    border: solid 1px black;
    border-radius: 30px;
    padding: 6px;
    background-color: #71d199;
    font-size: 0.7rem;
    }

    .card-titulo
    {
        padding-top: 10px;
        font-size: 1.2rem;

    }

    .card-texto
    {
        line-height: 1.8;
            letter-spacing: 0.5px;
            font-size: 0.9rem;
    }


/* contacto */

#contacto {
    height: 100%;
    padding: 50px;
    text-align: center;
    background-color: #d1f2f7;
}

form {
    background-color: aquamarine;
    height: 100%;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 2px rgba(22, 22, 22, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.video {
    height: 100%;
    width: 100%;
}

footer {
    align-self: center;
    text-align: center;
    height: 100%;
    background-color: #f8efe7;
    padding: 40px;

}

.info-contacto
{
    margin-top: 70px;
}